{% extends "base.html" %}
{% block title %}FastBurg - User Registration{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Staff</h1>

<div>
    {% if count == 0 %}
    <p>There are no staff.</p>
    {% elif count == 1 %}
    <p>There is 1 staff.</p>
    {% else %}
    <p>There are {{ count }} staff.</p>
    {% endif %}
</div>

<div>
 <table class="table table-striped">
 <thead>
    <tr>
        <th>Staff ID</th>
        <th>Reg Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
 </thead>

 <tbody>
    {% for admin in admin_list %}
    <tr>
        <td>{{ admin.get_staff_id() }}</td>
        <td>{{ admin.get_today_date() }}</td>
        <td>{{ admin.get_first_name() }}</td>
        <td>{{ admin.get_last_name() }}</td>
        <td>{{ admin.get_gender() }}</td>
        <td>{{ admin.get_age() }}</td>
        <td>{{ admin.get_phone_no() }}</td>
        <td>{{ admin.get_email_address() }}</td>
        <td><a href="/updateStaff/{{admin.get_staff_id()}}" class="btn btn-warning">Update</a></td>
        <td> <form action="{{url_for('delete_staff', id=admin.get_staff_id())}}" method="POST">
            <!-- Button to Open the Modal -->
            <button type="button"  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{admin.get_staff_id()}}">
                Delete
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{admin.get_staff_id()}}">
                <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                    Are you sure you want to delete {{admin.get_first_name()}} {{admin.get_last_name()}}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
 </tbody>

 </table>
</div>

{% endblock %}
