{% extends "base3.html" %}
{% block title %}FastBurg - Home{% endblock %}
{% block content %}

<h2 class="display-4" align="center" style="margin-top: 200px; font-size: 40px; color: black;"><strong>Thank you for placing your order</strong></h2>
<br>
<p align="center" style="font-size: 20px; color: black;">Order is sent to FastBurg's kitchen and it will arrive at your doorstep in no time. Thanks for ordering with us!</p>
<button type="submit" style="margin-left: 600px; border-radius: 8px; display: inline-block; border: none; color: white; padding: 15px 32px; margin-top: 20px; font-family: 'Poppins', sans-serif;"><a style=" text-decoration: none;" href="/">Return to Homepage</a></button>


{% endblock %}
