{% extends "base.html" %}
{% block title %}FastBurg - Admin Registered{% endblock %}
{% block content %}

<h2 class="display-4" align="center" style="margin-top: 200px; font-family: 'Poppins', sans-serif; font-size: 40px"><strong>Thank you {{registeredname}} for registering</strong></h2>
<br>
<p align="center" style="font-size: 20px;">Admin Account has been created and can be used. Please return to the homepage to log onto our system</p>
<button type="submit" style="margin-left: 600px; border-radius: 8px; display: inline-block; border: none; color: white; padding: 15px 32px; margin-top: 20px; font-family: 'Poppins', sans-serif;"><a style=" text-decoration: none; font-style: italic;" href="/adminpage">Return to Homepage</a></button>


{% endblock %}

