<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FastBurg</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/createUser">User Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createAdmin">Admin Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/retrieveUsers">Retrieve Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
